<div class="container">
    <mat-grid-list cols="4" rowHeight="2:1" gutterSize="5px">
        <mat-grid-tile (click)="openLeaderboard()" colspan="2">
            <mat-grid-tile-header>{{leaderboardLabel}}</mat-grid-tile-header>
        </mat-grid-tile>
        <mat-grid-tile (click)="openFinesOverview()">
            <mat-grid-tile-header>{{finesOverviewLabel}}</mat-grid-tile-header>
        </mat-grid-tile>
        <mat-grid-tile (click)="openRewardsOverview()">
            <mat-grid-tile-header>{{rewardsOverviewLabel}}</mat-grid-tile-header>
        </mat-grid-tile>
        <mat-grid-tile (click)="finePlayer(true)" *ngIf="isExecutive()">
            <mat-grid-tile-header>{{selfFineLabel}}</mat-grid-tile-header>
        </mat-grid-tile>
        <mat-grid-tile (click)="finePlayer(true)" *ngIf="!isExecutive()" colspan="2">
            <mat-grid-tile-header>{{selfFineLabel}}</mat-grid-tile-header>
        </mat-grid-tile>
        <mat-grid-tile (click)="finePlayer(false)" *ngIf="isExecutive()">
            <mat-grid-tile-header>{{finePlayerLabel}}</mat-grid-tile-header>
        </mat-grid-tile>
        <mat-grid-tile (click)="rewardPlayer()" *ngIf="isExecutive()">
            <mat-grid-tile-header>{{rewardPlayerLabel}}</mat-grid-tile-header>
        </mat-grid-tile>
        <mat-grid-tile (click)="showFines()" *ngIf="isExecutive()">
            <mat-grid-tile-header>{{finesLabel}}</mat-grid-tile-header>
        </mat-grid-tile>
        <mat-grid-tile (click)="showRewards()" *ngIf="isExecutive()">
            <mat-grid-tile-header>{{rewardsLabel}}</mat-grid-tile-header>
        </mat-grid-tile>
        <mat-grid-tile (click)="addPlayer()" *ngIf="isExecutive()">
            <mat-grid-tile-header>{{addPlayerLabel}}</mat-grid-tile-header>
        </mat-grid-tile>
        <!--<mat-grid-tile (click)="createNewFine()" *ngIf="isExecutive()">
            <mat-grid-tile-header>{{createFineLabel}}</mat-grid-tile-header>
        </mat-grid-tile>
        <mat-grid-tile (click)="createNewReward()" *ngIf="isExecutive()">
            <mat-grid-tile-header>{{createRewardLabel}}</mat-grid-tile-header>
        </mat-grid-tile>-->
    </mat-grid-list>
</div>