<!--<div class="container" *ngIf="checkStartupComplete()">-->
<div class="container">
    <div class="row">
        <img class="loginLogo" mat-card-image src="./assets/images/RC-Linz-Logo.jpg">
    </div>
    <div class="row">
        <form [formGroup]="loginForm">
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>{{userEmailLabel}}</mat-label>
                    <input formControlName="useremail" matInput placeholder="{{userEmailLabel}}">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>{{passwordLabel}}</mat-label>
                    <input formControlName="password" (keyup)="enterPressed($event.keyCode)" matInput [type]=" !hide ? 'password' : 'text'">
                    <a matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="row">
        <form [formGroup]="languageForm">
            <mat-form-field>
                <mat-label>{{languageLabel}}</mat-label>
                <mat-select formControlName="language">
                    <mat-option *ngFor="let languageKey of supportedLanguages.keys()" [value]="languageKey">
                        {{supportedLanguages.get(languageKey)}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!languageForm.get('language').valid">Please choose a language</mat-error>
                <mat-hint>{{languageForm.get('language').value}}</mat-hint>
            </mat-form-field>
        </form>
    </div>
    <div class="row">
        <button (click)="executeLogin()" mat-raised-button="" color="accent" class="mat-focus-indicator mat-raised-button mat-button-base mat-accent">
            <span class="mat-button-wrapper">{{loginLabel}}</span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div>
        </button>
    </div>
    <div class="row">
        <a routerLink (click)="registerNewUser()">{{registerLabel}}</a>
    </div>
</div>
