<div class="container">
    <div class="row">
        <form [formGroup]="newUserInputForm">
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>{{firstNameField}}</mat-label>
                    <input formControlName="firstname" matInput placeholder="{{firstNameField}}">
                    <mat-icon matSuffix></mat-icon>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>{{surnameField}}</mat-label>
                    <input formControlName="surname" matInput placeholder="{{surnameField}}">
                    <mat-icon matSuffix></mat-icon>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>{{usernameField}}</mat-label>
                    <input formControlName="username" matInput placeholder="{{usernameField}}">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>{{emailField}}</mat-label>
                    <input formControlName="email" matInput placeholder="{{emailField}}">
                    <mat-icon matSuffix></mat-icon>
                    <mat-error *ngIf="!checkValidEmail()">{{invalidEmailError}}</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>{{passwordField}}</mat-label>
                    <input formControlName="password" matInput placeholder="{{passwordField}}" [type]=" !hidePW ? 'password' : 'text'">
                    <a matSuffix (click)="hidePW = !hidePW" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePW">
                        <mat-icon>{{hidePW ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                    <mat-error *ngIf="!checkPasswordLength()">{{passwordLengthError}}</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>{{confirmPasswordField}}</mat-label>
                    <input formControlName="confirmPassword" matInput placeholder="{{confirmPasswordField}}" [type]=" !hideConfirm ? 'password' : 'text'">
                    <a matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
                        <mat-icon>{{hideConfirm? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                    <mat-error *ngIf="!checkPasswordsMatch()">{{passwordMatchError}}</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field>
                    <mat-label>{{preferredLanguageField}}</mat-label>
                    <mat-select formControlName="preferredLanguage">
                        <mat-option *ngFor="let languageKey of supportedLanguages.keys()" [value]="languageKey">
                            {{supportedLanguages.get(languageKey)}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="!newUserInputForm.get('preferredLanguage').valid">Please choose a preferred language</mat-error>
                    <mat-hint>{{newUserInputForm.get('preferredLanguage').value}}</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <button style="margin-right: 2px;" (click)="goToLogin()" mat-raised-button="" class="mat-focus-indicator mat-raised-button mat-button-base mat-accent">
                    <span class="mat-button-wrapper">{{backButton}}</span>
                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                    <div class="mat-button-focus-overlay"></div>
                </button>
                <button [disabled]="newUserInputForm.invalid" style="margin-left: 2px;" (click)="registerNewUser()" mat-raised-button="" color="accent" class="mat-focus-indicator mat-raised-button mat-button-base mat-accent">
                    <span class="mat-button-wrapper">{{registerButton}}</span>
                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                    <div class="mat-button-focus-overlay"></div>
                </button>
            </div>
        </form>
    </div>
</div>