.container {
    width: 100%;
    height: 100%;
    margin: 5px;
}
.row {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.loginLogo {
    width: 20%;
    height: 20%;
}
.headerLogo{
    width: 3%;
    height: 3%;
}
.spinner-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 998
}